# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
.gitattributes
changelog.txt
build.gradle
CREDITS.txt
forge-1.16.3-34.1.0-mdk.zip
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
LICENSE.txt
logs/debug.log
logs/latest.log
README.md
README.txt
